*{
  margin: 0;
  padding: 0;
}

/*HEADER*/

.header{

}
nav{
  width: 100%;
  height: 60px;
  background-color: #f7f7f7;
}

.main{
  font-family: arial;
  color: #222;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding-left: 2px;
  text-decoration: none;
  padding: 1px;
}

nav ul{
  float: left;
}

nav ul li{
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a{
  display: block;
  font-family: arial;
  color: #222;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
  opacity: 0.5;
}

nav ul li a:hover{
  opacity: 1;
}

nav ul li ul{
  display: none;
  position: absolute;
  border-color: #fff;
  padding: 10px;
  border-radius: 0 0 4px 4px;
}

nav ul li ul li a{
padding: 8px 14px;
}

nav ul li ul li a:hover{
  background-color: #f3f3f3;
}

nav ul li ul li{
  width: 180px;
  border-radius: 4px;
}

nav ul li:hover ul{
  display: block;
}

#main pre{
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  color: white;
}

#bar{
  font-size: 30px;
  display: inline;
}


nav .button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: right;
    margin-right: 20px;
    padding: 8px 14px;
    border: 2px solid red;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
}

nav .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}


#Forum{
  
  display: block;
  border: none;
  background-color: #f7f7f7;
  font-family: arial;
  color: #222;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
  opacity: 0.5;
}

#Forum:hover{
  opacity: 1;
  cursor: pointer;
}
/* */














.wrapper{
    width: 1000px;
    height: auto;
    background-color: #f2f2f2;
    margin-left: 180px;
    margin-top: -80px;
}


#Ques{
    color: black;
    margin-left: 35px;
    padding-bottom: 5px;
    margin-top: -20px;
}

#option{
    margin-left: 30px;
    
   
}


.option{
    margin-left: 95px;
    margin-top: 20px;
}

.option input{
    padding: 0px;
    margin-top: 0px;
   
}

.option p{
    margin-top: -20px;
    
}
#option-box{
    width: 250px;
    margin-left: 10px;
}

#NewQues{
    margin-top: 50px;
    margin-bottom: 0px;
}
#ok{
margin-left: 100px;
margin-top: 30px;
width: 80px;
height: 30px;
border: 1px solid #003333;
background-color: green;
color: white;
    
}

#ok:hover{
    cursor: pointer;
    
}


/*For FOOTER at bottom*/

#space{
    margin-top: 200px;
}

#main{
  overflow: auto;
  padding-bottom: 100px;
}

#footer{

  border-color: #000;
  position: relative;
  height: 100px;
  margin-top: 0px;
  clear: both;
  margin-bottom: 0px;
}
/* */

/*FOOTER*/

footer{
      width: calc(100% - 40px);
      padding: 20px 20px;
      background-color: #111;
      margin-top: 200px;
      height: auto;
      line-height: 30px;
      overflow: hidden; 
      
}

footer ul{
  width: fit-content;
  float: left;
  padding-left: 0px;
  padding-right: 10px;
}

footer ul li{
   display: block;
   list-style: none;
}

footer ul li a{
  font-family: fantasy;
  font-size: 16px;
  color: #fff;
  line-height : 10px;
  text-decoration: none;
  margin-bottom: 10px;
  opacity: 0.7;
}
footer ul li a:hover{
  opacity: 1;
}
.footer-sm{
  width: 30px;
  float: right;

}

.footer-sm img:hover{
  opacity: 1;
}
.footer-sm img{
    width: 30px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.middle{
  color: white;
  opacity: 0.7;
  text-align: center;
  clear: both;
  margin-top: -100px;
}
